<template name="aboutme">

    
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">About me</li>
    </ol>

    <h1 style = "text-align: center;">AHMED ELKALAF</h1>
    <div class="profile"><img src="https://avatars0.githubusercontent.com/u/43083774?s=460&v=4" alt="profile image" class="center"/></div>
    <p style = "text-align: center;">
        Ahmed Elkalaf is a software engineer with machine learning background.
    </p>
    <div class="line"></div>

    <h2>EDUCATION</h2>
    <br/>
    <h5 style="display:inline-block;">Alexandria University</h5> 
    <div style="display:inline-block;">(September 2015 - Present)</div><br />
    <p>B.S. in Computer and Communication Engineering<br />
        Concentration in Software Engineering.</p><br />
    <div class="line"></div>

    <h2>WORK EXPERIENCE</h2>
    <br/>
    <h5 style="display:inline-block;"><a href="https://www.smartera3s.com/" target="_blank">smartera3s</a></h5>
    <div style="display:inline-block;">(July 2019 - September 2019)</div><br />
    <p><b>Software engineering intern</b></p>
    <p>Worked on banking chat-bot using C# and Microsoft Azure cognitive services in .NET framework.</p>
    <div class="line"></div>
    
    
    <h2>PROJECTS</h2>
    <br/>

    <h5 ><a href="https://github.com/Kallaf/Risk-game" target="_blank">Risk Game</a></h5>
    <p >Board game, with several options of Articial Intelligence search agents to watch, or play
        against. [Java] [Group Project]</p><br />

    <h5 ><a href="https://github.com/Kallaf/Social-network" target="_blank">Social networking</a></h5>
    <p >Web based application that involves the use of the internet to connect users with
        their friends, family and acquaintances[Node.js, MySql] [Group Project]</p><br />

    <h5 ><a href="https://github.com/Kallaf/HotelReservationSystem" target="_blank">HotelReservationSystem</a></h5>
    <p >Web based application that involves the use of the internet to make the
        users search and make reservations for hotel rooms. [Php, MySql] [Group Project]</p><br />

    <h5 ><a href="https://github.com/Kallaf/offensive-language-classifier" target="_blank">Offense Detection</a></h5>
    <p >NLP model that uses machine learning to classify oensive tweets. [Python, Sci-
        kit Learn, NLTK] [Group Project]</p><br />


    <h5 ><a href="https://github.com/Kallaf/Image-Classification/blob/master/imageClassifier.ipynb" target="_blank">Image-Classification</a></h5>
    <p >PyTorch model that uses machine learning to classify Images. [Python, Py-
        Torch] [Group Project]</p><br />

    <h5 ><a href="https://github.com/Kallaf/NVC-Client" target="_blank">NVC-Client</a></h5>
    <p >A live dashboard to display a stream of NYC Taxi & Limousine Commission data for
        November 2017. [Javascript ,WebSockets] [Individal]</p><br />


    <div class="line"></div>


    
    <h2>SKILLS</h2>
    <br/>

    <h5 >Languages</h5>
    <br>
    <div class = "row">
        <div class="col-3">JavaScript</div>
        <div class="col-3">Python</div>
        <div class="col-3">C++</div>
        <div class="col-3">C#</div>
    </div>
    <br>
    <div class = "row">
        <div class="col-3">Java</div>
        <div class="col-3">Html5</div>
        <div class="col-3">Css3</div>
        <div class="col-3">SQL</div>
    </div>
    <br/>
    <h5 >Technologies</h5>
    <br>
    <div class = "row">
        <div class="col-3">Node.js</div>
        <div class="col-3">.Net</div>
        <div class="col-3">Bootstrap</div>
        <div class="col-3">JQuery</div>
    </div>
    <br>
    <div class = "row">
        <div class="col-3">MySQL</div>
    </div>
    <br/>
    <h5 >Workflow Tools</h5>
    <br>
    <div class = "row">
        <div class="col-3">Git</div>
        <div class="col-3">Linux</div>
        <div class="col-3">Agile</div>
    </div>
    <br/>

    <div class="line"></div>
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/ahmed-el-kalaf-35410015a/" target = "_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fab fa-linkedin fa-stack"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/ahmed.elkalaf.581"  target = "_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fab fa-facebook-f fa-stack"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/Kallaf"  target = "_blank">
                  <span class="fa-stack fa-lg">     
                    <i class="fab fa-github fa-stack"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>


</template>