
<template name="index">
    <h2>Welcome to kf-structure</h2>
    <p >
        we aim to teach introductory computer science algorithms, including searching, sorting, recursion, and graph theory. Learn with a combination of articles, and practice problems.
    </p>
    <div class="line"></div>

    <h2>Main Courses</h2>
    <ul>
        <li>
            <a href="Juniors.html"> <h4>Juniors</h4></a>
            <p>If you can write simple programs (using tools like loops), learn algorithms and data structures. <br> (Codeforces Div 2 A/B/C Curriculum)</p>
        </li>
        <li>
            <a href="seniors.html"><h4>Seniors</h4></a>
            <p>Once you know all the standard algorithms and data structures, apply them to hard problems to score higher in programming competitions.<br>Codeforces Div 2 D/E , Div 1 D curriculum</p>   
        </li>
    </ul>

    <div class="line"></div>
    <h2><a href="resources.html">Resources</a></h2>
    
    <p>We provide here a punch of useful algorithms websites,books and competitive programming websites</p>
</template>