<template name="resources">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Resources</li>
    </ol>

    <h4 id="books">Books</h4>
    <br>
    <div class="row">
        <div class="col-4">
            <a href="https://www.amazon.com/Guide-Competitive-Programming-Algorithms-Undergraduate/dp/3319725467">Guide Competitive Programming Algorithms Undergraduate</a>
        </div>
        <div class="col-4">
            <a href="https://www.academia.edu/36637031/Competitive_Programming_3.pdf">Competitive Programming 3</a>
        </div>
        <div class="col-4">
            <a href="https://www.amazon.com/Programming-Challenges-Contest-Training-Computer/dp/0387001638">Programming Challenges Contest Training Computer</a>
        </div>
    </div>
    
    <div class="line"></div>
    
    <h4 id="competitve-programming-websites">Competitive programming websites</h4>
    <br>
    <div class = "row">
        <div class="col-4"> 
            <a href="https://codeforces.com/" target="_blank"> Codeforces</a>
        </div>
        <div class="col-4">
            <a href="https://hackerrank.com/" target="_blank"> Hackerrank</a>
        </div>
        <div class="col-4">
            <a href="https://leetcode.com/" target="_blank"> Leetcode</a>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class = "col-4">
            <a href="https://www.codechef.com/" target="_blank"> Codechef</a>
        </div>
        <div class = "col-4">
            <a href="https://onlinejudge.org/"  target="_blank"> UVA</a>
        </div>
    </div>
    <div class="line"></div>
    <h4 id="other-websites">Other websites</h4>
    <br>
    <div class = "row">
        <div class="col-4">
            <a href="https://www.geeksforgeeks.org/" target="_blank"> geeksforgeeks</a>
        </div>
        <div class = "col-4">
            <a href="https://www.khanacademy.org/computing/computer-science/algorithms" target="_blank">khanacademy</a>
        </div>
        <div class = "col-4">
            <a href="https://www.hackerearth.com/" target="_blank">hackerearth</a>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class="col-4"> 
            <a href="http://e-maxx.ru/algo/" target="_blank"> e-maxx</a>
        </div>
        <div class="col-4">
            <a href="https://www.vplanetcoding.com/" target="_blank"> vplanet</a>
        </div>
    </div>
</template>
            