<template name = "sidebar">
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
            <h3>Kf-structure</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Main Courses</p>
            <li>
                <a href="Juniors.html">Juniors</a>
            </li>
            <li>
                <a href="seniors.html">Seniors</a>
            </li>
        </ul>

        <ul class="list-unstyled components">
            <p>Resources</p>
            <li>
                <a href="resources.html#competitve-programming-websites">Competitve programming websites</a>
            </li>
            
            <li>
                <a href="resources.html#books">Books</a>
            </li>
            
            <li>
                <a href="resources.html#other-websites">Other websites</a>
            </li>
        </ul>

        <form class="form-inline active-pink-4" style="margin-left: 3%;">
            <input class="form-control form-control-sm mr-3 w-95" type="text" placeholder="Search"
                aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
        </form>

    </nav>
</template>